<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.18</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.18</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8B62</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16B2649</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0810</string>
	<key>DTXcodeBuild</key>
	<string>8B62</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxwgIVcd
					ECFXHgEhVx8BIWccMCFnHWAhZx4BIWcfASF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdkCGHHqAh
					hx+QIZccYCGXHZAhlx6BIZcfAiGnHFAhpx0w
					IacegSGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxzwIVcd
					ACFXHgAhVx9AIWcc8CFnHQAhZx4AIWcfQCF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdYCGHHgEh
					hx8BIZccYCGXHZAhlx6gIZcfkCGnHFAhpx0Q
					IaceASGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC892 for Laptop</string>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHZABJx6gAScfmQFHHCABRx1AAUce
					IQFHHwEBdxwwAXcdEAF3HgEBdx8BAYccQAGH
					HZABhx6BAYcfAQGnHFABpx0wAacegQGnHwEB
					txxgAbcdQAG3HhMBtx+ZAecccAHnHWAB5x5F
					AecfAQG3DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Mirone</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwEB
					5xyQAecd4AHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Mirone</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>Custom ALC892 for GA-Z87-HD3 by BIM167</string>
					<key>ConfigData</key>
					<data>
					IRccUCEXHXEhFx5EIRcfASEnHPAhJx0AISce
					ACEnH0AhRxwQIUcdQCFHHhEhRx+QIVccICFX
					HRAhVx4BIVcfASFnHDAhZx1gIWceASFnHwEh
					dxzwIXcdACF3HgAhdx9AIYccYCGHHZAhhx6g
					IYcfkCGXHIAhlx2QIZcegSGXHwIhpxxwIacd
					MCGnHoEhpx8BIbccQCG3HUAhtx4hIbcfAiHH
					HPAhxx0AIcceACHHH0Ah5xzwIecdACHnHgAh
					5x9AIfcckCH3HXEh9x7EIfcfAQ==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>92</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>Custom ALC892 DNS P150EM by Constanta</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHHABhx2QAYce
					gQGHHwEBlxxgAZcdAQGXHqABlx+QAaccgAGn
					HTABpx6BAacfAQG3HCABtx1AAbceIQG3HwEB
					5xyQAecd4AHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>99</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 vit9696. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
